@page
@model ABCHardware_Project.Pages.ProcessSaleModel
@{
    ViewData["Title"] = "Process Sale";
    var data = 0;
}
@section ProcessSalescriptContent
    {
    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }

@section ProcessSalesContent{

    <div class="messages">
        @if (Model.everyItems != null)
        {
            <select asp-for="TestTest" itemid="_CustomerID" style="width:100%;height:30px;">

                <option value="" class="selectionProgramCode" name="">Select customer</option>

                <!-- Loop through Model.CustomerInfo to generate options -->
                @foreach (var customer in Model.CustomerInfo)
                {

                    <!-- Use a unique value for the option, and display the necessary information -->
                    <option value="@customer.CustomerID" class="selectionProgramCode" name="selectedValue">
                        @($"{customer.CustomerID} - {customer.FirstName} {customer.LastName} - {customer.Address}")
                    </option>

                }
            </select>
            <br></br>
            <br></br>

            @foreach (var val in Model.everyItems)
            {
                <form name="SampleForm" method="post">


              
                     

                    <table border="1">
                        <tr>
                            <td>Item Code</td>
                           
                            <td>Description</td>
                            <td>Unit Price</td>
                            <td>Quanitity</td>
                            <td>To Cart</td>
                        </tr>


                        <tr>
                            <td><input asp-for="_ItemCode" value="@val.ItemCode" readonly /></td>
                         
                            <td><input asp-for="_Description" value="@val.Description" readonly /></td>
                            <td><input asp-for="_UnitPrice" value="@val.UnitPrice" readonly /></td>
                            <td><input asp-for="_Quantity" value="0" max="@val.Quantity" /></td>
                            <span asp-validation-for="_Quantity" class="modelMessage"></span>

                            <td>
                                <input type="submit" name="Update" value="Add To Cart" class="buttons" asp-page-handler="PurchaseItem" />

                            </td>


                        </tr>


                    </table>

                    <br></br>
                  

                </form>


            }

}



                        }


                </div>

