@page
@model ABCHardware_Project.Pages.ProcessSaleModel
@{
    ViewData["Title"] = "Process Sale";

}
@section ProcessSalescriptContent
    {
    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    }


@section ProcessSalesContent{

    <div class="messages">

        @Model.Message
        <br></br>
        <br></br>


        @foreach (var val in Model.everyItems)
        {
            <form name="SampleForm" method="post">


                <table border="1">
                    <tr>
                        <td>Select Customer</td>
                        <td>Item Code</td>

                        <td>Description</td>
                        <td>Unit Price</td>
                        <td>Quanitity</td>
                        <td>To Cart</td>

                    </tr>

                    <tr>
                        <td>
                            <label for="SelectValue">Select Existing Student ID: </label>
                            <select asp-for="CustomerIDSelect" style="width:20%; height:30px;">
                                <option value="" class="selectionProgramCode">Select Student ID</option>
                                @foreach (var id in Model.CustomerInfo)
                                {
                                    <option value="@id.CustomerID" class="selectionProgramCode">@id.CustomerID @id.FirstName @id.LastName </option>
                                }
                            </select>
                            <span asp-validation-for="CustomerIDSelect" class="modelMessage"></span>
                        </td>
                        <td><input asp-for="_ItemCode" value="@val.ItemCode" /></td>

                        <td><input asp-for="_Description" value="@val.Description" readonly /></td>
                        <td><input asp-for="_UnitPrice" value="@val.UnitPrice" readonly /></td>
                        <td><input asp-for="_Quantity" value="0" max="@val.Quantity" /></td>
                        <span asp-validation-for="_Quantity" class="modelMessage"></span>

                        <td>
                            <input type="submit" name="Update" value="Add To Cart" class="buttons" />

                        </td>


                    </tr>


                </table>

                <br></br>

            </form>



        }

        @if (Model.list != null)
        {
            <h2>Purchased Item</h2>
            <table border="1">
                <tr>
                    <td>Item Code</td>
                    <td>Description</td>
                    <td>Unit Price</td>
                    <td>Quanitity</td>


                </tr>
                <tr>
                    @for (int i = 0; i < Model.list.Count; i++)
                    {
                        <td>@Model.list[i]</td>
                    }
                </tr>



            </table>
        }







    </div>
}

