@page
@model ABCHardware_Project.Pages.TESTModel
@{
}
@*<script>
    function addToCart(button) {
        var tableRow = button.closest("tr");
        var customerSelect = tableRow.querySelector(".customerSelect");
        var customerID = customerSelect.value;
        var itemCode = tableRow.querySelector(".itemCode").value;
        var description = tableRow.querySelector(".description").value;
        var unitPrice = tableRow.querySelector(".unitPrice").value;
        var quantity = tableRow.querySelector(".quantity").value;

        var cartTable = document.getElementById("cartTable");
        var newRow = cartTable.insertRow(-1);

        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2);
        var cell4 = newRow.insertCell(3);
        var cell5 = newRow.insertCell(4);

        cell1.innerHTML = customerID;
        cell2.innerHTML = itemCode;
        cell3.innerHTML = description;
        cell4.innerHTML = unitPrice;
        cell5.innerHTML = quantity;
    }
</script>*@

< <script>
      document.addEventListener("DOMContentLoaded", function () {
          loadCartItems();
      });

      function addToCart(button) {
          var tableRow = button.closest("tr");
          var customerSelect = tableRow.querySelector(".customerSelect");
          var customerID = customerSelect.value;
          var itemCode = tableRow.querySelector(".itemCode").value;
          var description = tableRow.querySelector(".description").value;
          var unitPrice = tableRow.querySelector(".unitPrice").value;
          var quantity = tableRow.querySelector(".quantity").value;

          var cartItem = {
              customerID: customerID,
              itemCode: itemCode,
              description: description,
              unitPrice: unitPrice,
              quantity: quantity
          };

          var existingCartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
          existingCartItems.push(cartItem);
          localStorage.setItem("cartItems", JSON.stringify(existingCartItems));

          loadCartItems(); // Refresh the cart table
      }

      function loadCartItems() {
          var cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
          var cartTable = document.getElementById("cartTable");
          var totalUnitPriceDiv = document.getElementById("totalUnitPrice");
          var totalGSTDiv = document.getElementById("totalGST");
          var grandTotalDiv = document.getElementById("grandTotalDiv");

          while (cartTable.rows.length > 1) {
              cartTable.deleteRow(1);
          }

          let totalUnitPrice = 0;
          let totalGST = 0;

          for (var i = 0; i < cartItems.length; i++) {
              var newRow = cartTable.insertRow(-1);

              // Calculate total unit price for each item
              var itemTotalUnitPrice = cartItems[i].unitPrice * cartItems[i].quantity;
              totalUnitPrice += itemTotalUnitPrice;

              // Calculate GST for each item (assuming GST is 10%)
              var itemGST = 0.1 * itemTotalUnitPrice;
              totalGST += itemGST;

              newRow.insertCell(0).innerHTML = cartItems[i].customerID;
              newRow.insertCell(1).innerHTML = cartItems[i].itemCode;
              newRow.insertCell(2).innerHTML = cartItems[i].description;
              newRow.insertCell(3).innerHTML = cartItems[i].unitPrice;
              newRow.insertCell(4).innerHTML = cartItems[i].quantity;
            
          }

          // Update the content of separate div elements
          totalUnitPriceDiv.innerHTML = 'Total Unit Price: ' + totalUnitPrice;
          totalGSTDiv.innerHTML = 'Total GST: ' + totalGST;
          grandTotalDiv.innerHTML = 'Grand Total: ' + (totalUnitPrice + totalGST);
      }


</script>
@section TESTContent {

    @if (Model.everyItems != null)
    {

        @foreach (var val in Model.everyItems)
        {
            <form name="SampleForm" method="post">



                <table id="itemTable" border="1">
                    <tr>
                        <th>Select Customer</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>

                    <tr>
                        <td>
                            <label for="SelectValue">Select Existing Student ID: </label>
                            <select class="customerSelect" style="width: 20%; height: 30px;">
                                <option value="" class="selectionProgramCode">Select Student ID</option>
                                @foreach (var id in Model.CustomerInfo)
                                {
                                    <option value="@id.CustomerID" class="selectionProgramCode">@id.CustomerID @id.FirstName @id.LastName</option>
                                }
                            </select>
                            <span class="modelMessage"></span>
                        </td>
                        <td><input name="ItemTestCode" class="itemCode" value="@val.ItemCode" readonly /></td>
                        <td><input class="description" value="@val.Description" readonly /></td>
                        <td><input class="unitPrice" value="@val.UnitPrice" readonly /></td>
                        <td><input class="quantity" value="0" max="@val.Quantity" /></td>
                        <td>
                            <input type="submit" value="Submit" onclick="addToCart(this)" class="buttons" />
                        </td
                          <td>
                            <input type="submit" value="Submit" onclick="addToCart(this)" class="buttons" />
                        </td>
                    </tr>

                </table>

                <br></br>



            </form>



        }
    }


@*    @if (Model.list != null)
    {
        <h2>Purchased Item</h2>
        <table border="1">
            <tr>
                <td>Item Code</td>
                <td>Description</td>
                <td>Unit Price</td>
                <td>Quanitity</td>


            </tr>
            <tr>
                @for (int i = 0; i < Model.list.Count; i++)
                {

                    <td>@Model.list[i]</td>
                }
            </tr>



        </table>
    }

    <h2>Shopping Cart</h2>*@

    <form name="sample" method="post">
        <table id="cartTable" border="1">
            <tr>
                <th>Customer ID</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
            </tr>
        </table>

        <div id="totalUnitPrice"></div>
        <div id="totalGST"></div>
        <div id="grandTotalDiv"></div>

        <input type="submit" name="Sumit" value="Sumit" />
    </form>









}
