@page
@model ABCHardware_Project.Pages.UpdateCustomerModel
@{
    ViewData["Title"] = "Update Customer";
}

@section UpdateCustomerscriptContent
    {
    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
@section UpdateCustomerContent{

    <section class="divHeader">
        <h1> Update Customer </h1>
        <div>
            <form name="SampleForm" method="post">
                <div>
                    <br />
                    <p class="modelMessage">Please insert Last Name for finding Customer information</p>
                    <input asp-for="FindLastName" class="inputText" class="inputText" />
                </div>

                <div>
                    <br />
                    <input type="submit" name="Submit" value="Find Customer" asp-page-handler="FindCustomer" class="buttons">
                </div>

            </form>


        </div>
    </section>
    <br />
    <br />
    <div class="messages">
        @if (Model.customers != null)
        {
            @foreach (var val in Model.customers)
            {
                <form name="SelectUpdateSample" method="post">
                    <table border="1">
                        <tr>
                            <td>Customer ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Address</td>
                            <td>Click for Modify Info</td>
                        </tr>



                        <tr>
                            <td><input asp-for="_CustomerID" value="@val.CustomerID" readonly /></td>
                            <td><input asp-for="_FirstName" value="@val.FirstName" readonly /></td>
                            <td><input asp-for="_LastName" value="@val.LastName" readonly /></td>
                            <td><input asp-for="_Address" value="@val.Address" readonly /></td>
                            <td>
                                <input type="submit" name="Update" value="Select" class="buttons" asp-page-handler="Edit" />

                            </td>
                        </tr>


                    </table>



                </form>

            }
        }
    </div>
    <div class="messages">
        @if (Model.customerInformation != null)
        {

            <form name="UpdateSample" method="post">
                <table border="1">
                    <tr>
                        <td>Customer ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Address</td>
                        <td>City</td>
                        <td>Province</td>
                        <td>Postal Code</td>
                    </tr>



                    <tr>
                        <td><input asp-for="aCustomerID" value="@Model.customerInformation.CustomerID" readonly /></td>
                        <td><input asp-for="aFirstName" value="@Model.customerInformation.FirstName"  /></td>
                        <td><input asp-for="aLastName" value="@Model.customerInformation.LastName"  /></td>
                        <td><input asp-for="aAddress" value="@Model.customerInformation.Address"  /></td>
                        <td><input asp-for="aCity" value="@Model.customerInformation.City"  /></td>
                        <td><input asp-for="aProvince" value="@Model.customerInformation.Province"  /></td>
                        <td><input asp-for="aPostalCode" value="@Model.customerInformation.PostalCode"  /></td>
                   
                        <td>
                            <input type="submit" name="Update" value="Update" class="buttons" asp-page-handler="Update" />

                        </td>
                    </tr>


                </table>

                <section class="messages">
                    <br />
                    <span asp-validation-for="aFirstName" class="modelMessage"></span>
                    <span asp-validation-for="aLastName" class="modelMessage"></span>
                    <span asp-validation-for="aAddress" class="modelMessage"></span>
                    <span asp-validation-for="aCity" class="modelMessage"></span>
                    <span asp-validation-for="aProvince" class="modelMessage"></span>
                    <span asp-validation-for="aPostalCode" class="modelMessage"></span>
                </section>

            </form>


        }
    </div>

    <section class="messages">

        <h3 class="modelMessage">@Model.Message</h3>

    </section>






}